<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HiWorldServlet</servlet-name>
        <servlet-class>de.svi.jwtdemo.HiWorldServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HiWorldServlet</servlet-name>
        <url-pattern>/hi</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <login-config>
        <auth-method>CLIENT_CERT</auth-method>
    </login-config>
    <security-role>
        <role-name>jwtAuthenticated</role-name>
    </security-role>
    <security-role>
        <role-name>Administrators</role-name>
    </security-role>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Everything</web-resource-name>
            <url-pattern>/hello.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>jwtAuthenticated</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
